.TabMenu .Icon{
    margin-top: 100px;
    width: 40%;
    height: 100px;
    color: #555;
    position: relative;
    left: 30%;margin-top: auto 0; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.TabMenu .Icon .Icon-n:hover {
    color: #8cdc52;
    cursor: pointer;
}